<footer class="footer">
    <span class="footer__copyright">本站由 <a href="https://kevinao.com">@KevinAo</a> 创建，文章版权归作者所有 - &copy; {{date format="YYYY"}}</span>
    <span class="footer__copyright">采用 <a href="https://github.com/KevinAo22/kno">kno</a> 作为主题，基于 <a href="https://ghost.org">Ghost</a> 平台</span>
</footer>