<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/KevinAoZhang" title="@你的傲哥 的 微博" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">微博</span>
    </a>
  </li>
  
  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/KevinAo22" title="@KevinAo22 的 Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Twitter -->
  <li class="navigation__item">
    <a href="https://twitter.com/KevinAo22" title="@KevinAo22 的 Twitter" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>

  <!-- Facebook -->
  <li class="navigation__item">
    <a href="https://www.facebook.com/kevinao.zhang" title="@张傲 的 Facebook" target="_blank">
      <i class='social fa fa-facebook'></i>
      <span class="label">Facebook</span>
    </a>
  </li>
  
  <!-- RSS -->
  <li class="navigation__item">
    <a href="{{@blog.url}}/rss/" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:kevinao@kevinao.com" title="邮件">
      <i class='social fa fa-envelope'></i>
      <span class="label">邮件</span>
    </a>
  </li>

  </ul>
</nav>